<!DOCTYPE html>
<html lang="en"><link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet">
<head>
  
</head>
<body>
   <header>
        {% include "partials/header.html" %}

   </header>
   <content>
           {% block content %}
           {% endblock %}
   </content>
   <footer class = "footer">
       {% include "partials/footer.html" %}
   </footer>
   {% block javascript %}
   {% endblock %}
</body>
</html>
