

.terima-tolak-beasiswa {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.terima-tolak-beasiswa .rectangle18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1199px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.terima-tolak-beasiswa .right-side {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 58px;
  height              : 155px;
  width               : 1232px;
  position            : absolute;
  margin              : 0;
  left                : 330px;
}
.terima-tolak-beasiswa .right-side .form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 155px;
  width               : 1232px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 12px;
  height              : 75px;
  width               : 1181px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 4px;
  overflow            : hidden;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .mask {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 75px;
  width               : 1181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .no-urut {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .kode-skema {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 231px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .waktu-penutupan {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 481px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .status {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 806px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .rectangle7 .jumlah {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 958px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .a1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 115px;
  height              : auto;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .a20172018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 115px;
  height              : auto;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 243px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .a31-april2018 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 115px;
  height              : auto;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 493px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}

tr {
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
}
.terima-tolak-beasiswa .right-side .form .ditutup {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 115px;
  height              : auto;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 818px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .right-side .form .a15 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 115px;
  height              : auto;
  width               : 279px;
  position            : absolute;
  margin              : 0;
  left                : 970px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .back {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 920px;
  height              : 280px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : 445px;
}
.terima-tolak-beasiswa .group2 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 170px;
  height              : 55px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 1524px;
  border-radius       : 4px;
  overflow            : hidden;
}
.terima-tolak-beasiswa .group2 .mask1 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.terima-tolak-beasiswa .group2 .terima {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 44.0px;
}
.terima-tolak-beasiswa .group {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 170px;
  height              : 55px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 1720px;
  border-radius       : 4px;
  overflow            : hidden;
}
.terima-tolak-beasiswa .group .mask2 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.terima-tolak-beasiswa .group .tolak {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 3px;
  height              : auto;
  width               : 83px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 44.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}