

.pilihan-donatur {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.pilihan-donatur .rectangle18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1199px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.pilihan-donatur .right-side {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 332px;
  height              : 551px;
  width               : 409px;
  position            : absolute;
  margin              : 0;
  left                : 529px;
}
.pilihan-donatur .right-side .form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 551px;
  width               : 409px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.pilihan-donatur .right-side .form .rectangle7 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 12px;
  height              : 513px;
  width               : 371px;
  position            : relative;
  margin              : 0;
  left                : 15px;
  border-radius       : 4px;
  overflow            : hidden;
}
.pilihan-donatur .right-side .form .rectangle7 .mask {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 513px;
  width               : 371px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.pilihan-donatur .right-side .form .rectangle7 .paket-beasiswa-baru {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.pilihan-donatur .right-side .form .rectangle7 .donatur-dapat-membua {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 181px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  opacity             : 0.96;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.pilihan-donatur .right-side1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 332px;
  height              : 551px;
  width               : 409px;
  position            : absolute;
  margin              : 0;
  left                : 992px;
}
.pilihan-donatur .right-side1 .form1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 551px;
  width               : 409px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.pilihan-donatur .right-side1 .form1 .rectangle71 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 12px;
  height              : 513px;
  width               : 371px;
  position            : relative;
  margin              : 0;
  left                : 15px;
  border-radius       : 4px;
  overflow            : hidden;
}
.pilihan-donatur .right-side1 .form1 .rectangle71 .mask1 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 513px;
  width               : 371px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.pilihan-donatur .right-side1 .form1 .rectangle71 .tambah-beasiswa-dari {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 41px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.pilihan-donatur .right-side1 .form1 .rectangle71 .donatur-dapat-mengub {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  opacity             : 0.96;
  font-family         : "Avenir-Book", Helvetica, Arial, serif;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.pilihan-donatur .beberapa-pilihan-unt {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 522px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 87.0px;
}
.pilihan-donatur .back {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 920px;
  height              : 280px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : 445px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}