{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <link href="{% static 'img/favicon.png' %}" rel="shortcut icon"/>
        <meta charset="utf-8"/>
        <meta content="width=1920px, maximum-scale=1.0" name="viewport"/>
        <link href="{% static 'css/pilihanDonatur.css' %}" rel="stylesheet" type="text/css"/>
        <meta content="Launchpad by Anima" name="author">
        </meta>
    </head>
    <body style="margin: 0;
 background: rgba(255, 255, 255, 1.0);">
        <input id="anPageName" name="page" type="hidden" value="pilihandonatur"/>
        <div class="pilihan-donatur">
            <div style="width: 1920px; height: 100%; position:relative; margin:auto;">
                <img anima-src="{% static 'img/terimatolak beasiswarectangle 18.png' %}" class="rectangle18" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="{% url 'daftar-bea:daftar-paket' %}">
                    <div class="right-side">
                        {% for message in messages %}

                            <div class="alert alert-success">
                                <a class="close" href="#" data-dismiss="alert">×</a>

                                {{ message }}

                            </div>
                        {% endfor %}
                        <div class="form">
                            <div class="rectangle7">
                                <div class="mask">
                                </div>
                                <div class="paket-beasiswa-baru">
                                    Paket Beasiswa Baru
                                </div>
                                <div class="donatur-dapat-membua">
                                    Donatur dapat membuat
                                    <br/>
                                    paket baru disini.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{% url 'daftar-bea:tambah-paket' %}">
                    <div class="right-side1">
                        <div class="form1">
                            <div class="rectangle71">
                                <div class="mask1">
                                </div>
                                <div class="tambah-beasiswa-dari">
                                    Tambah Beasiswa
                                    <br/>
                                    dari Paket
                                </div>
                                <div class="donatur-dapat-mengub">
                                    Donatur dapat mengubah
                                    <br/>
                                    paket beasiswa yang ada
                                    <br/>
                                    disini.
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="beberapa-pilihan-unt">
                    Beberapa pilihan untuk anda.
                </div>
                <img anima-src="{% static 'img/pilihan donaturbaruback.png' %}" class="back" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
        </div>
        <!-- Scripts -->
        <script>
            anima_isHidden = function(e) {
                if (!(e instanceof HTMLElement)) return !1;
                if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
                return !1;
            };
            anima_loadAsyncSrcForTag = function(tag) {
                var elements = document.getElementsByTagName(tag);
                var toLoad = [];
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var src = e.getAttribute("src");
                    var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                    if (loaded) continue;
                    var asyncSrc = e.getAttribute("anima-src");
                    if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                    if (anima_isHidden(e)) continue;
                    toLoad.push(e);
                }
                toLoad.sort(function(a, b) {
                    return anima_getTop(a) - anima_getTop(b);
                });
                for (var i = 0; i < toLoad.length; i++) {
                    var e = toLoad[i];
                    var asyncSrc = e.getAttribute("anima-src");
                    e.setAttribute("src", asyncSrc);
                }
            };
            anima_pauseHiddenVideos = function(tag) {
                var elements = document.getElementsByTagName("video");
                for (var i = 0; i < elements.length; i++) {
                    var e = elements[i];
                    var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                    var isHidden = anima_isHidden(e);
                    if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                        e.play();
                    } else if (isPlaying && isHidden) {
                        e.pause();
                    }
                }
            };
            anima_loadAsyncSrc = function(tag) {
                anima_loadAsyncSrcForTag("img");
                anima_loadAsyncSrcForTag("iframe");
                anima_loadAsyncSrcForTag("video");
                anima_pauseHiddenVideos();
            };
            var anima_getTop = function(e) {
                var top = 0;
                do {
                    top += e.offsetTop || 0;
                    e = e.offsetParent;
                } while (e);
                return top;
            };
            anima_loadAsyncSrc();
            anima_old_onResize = window.onresize;
            anima_new_onResize = undefined;
            anima_updateOnResize = function() {
                if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                    anima_new_onResize = function(x) {
                        if (anima_old_onResize != undefined) anima_old_onResize(x);
                        anima_loadAsyncSrc();
                    };
                    window.onresize = anima_new_onResize;
                    setTimeout(function() {
                        anima_updateOnResize();
                    }, 3000);
                }
            };
            anima_updateOnResize();
            setTimeout(function() {
                anima_loadAsyncSrc();
            }, 200);
        </script>
        <!-- End of Scripts -->
    </body>
</html>
