

.pilihan-donaturbaru {
  width               : 100%;
  min-width           : 1920px;
  height              : 100vh;
  min-height          : 1200px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}

.inputdata {
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 312px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 7px;
    border: 1px solid #dbdbdb;
}

.pilihan-donaturbaru .rectangle18 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 1199px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.pilihan-donaturbaru .right-side {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 332px;
  height              : 551px;
  width               : 984px;
  position            : absolute;
  margin              : 0;
  left                : 473px;
}
.pilihan-donaturbaru .right-side .form {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 551px;
  width               : 984px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form .rectangle7 {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 12px;
  height              : 513px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  border-radius       : 4px;
  overflow            : hidden;
}
.pilihan-donaturbaru .right-side .form .rectangle7 .mask {
  background-color    : rgba(96, 146, 145, 1.0);
  top                 : 0px;
  height              : 513px;
  width               : 946px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 4px;
}
.pilihan-donaturbaru .right-side .form .rectangle7 .mask1 {
  background-color    : rgba(26, 83, 92, 1.0);
  color               : rgba(255,255,255,1.0);
  top                 : 451px;
  height              : 41px;
  width               : 96px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  border-radius       : 4px;
}
.pilihan-donaturbaru .right-side .form .form-pendaftaran-pak {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 44.0px;
}
.pilihan-donaturbaru .right-side .form .submit {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 476px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 85px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 260px;
  height              : 55px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 .rectangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 .dropdown-arrow {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 16px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 289px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 .dropdown-arrow .triangle {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 4px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 4px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 .suggestion {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard .form1 .input {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard .optional {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard .label {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 195px;
  height              : 55px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.pilihan-donaturbaru .right-side .form-standard1 .form2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard1 .form2 .rectangle1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard1 .form2 .suggestion1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard1 .form2 .input1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard1 .optional1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard1 .label1 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 130px;
  height              : 55px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.pilihan-donaturbaru .right-side .form-standard2 .form3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard2 .form3 .rectangle2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard2 .form3 .suggestion2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard2 .form3 .input2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard2 .optional2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard2 .label2 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 325px;
  height              : 55px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.pilihan-donaturbaru .right-side .form-standard3 .form4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard3 .form4 .rectangle3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard3 .form4 .suggestion3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard3 .form4 .input3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard3 .optional3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard3 .label3 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 390px;
  height              : 55px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
}
.pilihan-donaturbaru .right-side .form-standard4 .form5 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 23px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard4 .form5 .rectangle4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 312px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.pilihan-donaturbaru .right-side .form-standard4 .form5 .suggestion4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 0.25);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard4 .form5 .input4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.pilihan-donaturbaru .right-side .form-standard4 .optional4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .right-side .form-standard4 .label4 {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.pilihan-donaturbaru .isi-data-berikut {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 203px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 522px;
  opacity             : 0.96;
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 64.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 87.0px;
}
.pilihan-donaturbaru .back {
  background-color    : rgba(255, 255, 255, 0.0);
  top                 : 920px;
  height              : 280px;
  width               : 1032px;
  position            : absolute;
  margin              : 0;
  left                : 445px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}

@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}